@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  body {
    @apply bg-cream;
  }
  .active-nav {
    @apply bg-confetti-blue text-white;
  }

  .gallery-image {
    @apply w-52 shadow-lg rounded cursor-pointer;
  }

  .full-gallery-image {
    @apply w-96 shadow-lg rounded;
  }
}

body {
  margin: 0;
  font-family: Serif, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
